.text-green {
    color: lawngreen !important;
}

.text-gold {
    color: gold;
}

input.mobile {
  width: 178px;
}

.bg-darkgray {
    // background-color: #503a07;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2) !important; 
    border-radius: 5px !important;
    background-color: rgba(255, 255, 255, .15) !important;
    
    backdrop-filter: blur(7px);
}

h1,h2,h3,h4,h5,h6,.h5 {
    font-weight: 350 !important;
}

.text-blue {
    color: #30afe6;
}

.borderless {
    border: 1px solid transparent;
}

.border-bottom {
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
}


@property --num {
    syntax: "<integer>";
    initial-value: 10000;
    inherits: false;
  }
  
  span.counter {
    animation: counter 30s infinite alternate ease-in-out;
    counter-reset: num var(--num);
    font: 800 40px;
    padding: 2rem;
  }
  span.counter::after {
    content: counter(num);
  }
  
  @keyframes counter {
    from {
      --num: 9999;
    }
    to {
      --num: 5000;
    }
  }

@media only screen and (max-width: 500px) {
  .col-4.multiplyBet {
    max-width: 100%;
    // text-align: center;
    flex: none;
  }
  .border-right {
    border-right: none;
  }
  .border-left {
    border-left: none;
  }
  input.mobile {
    width: 70px;
  }
}